.element__delete {
    position: absolute;
    background-image: url(../../../images/trash.svg);
    background-color: transparent;
    max-width: 18px;
    height: 19px;
    width: 100%;
    background-size: cover;
    border: 0;
    padding: 0;
    top: 20px;
    right: 20px;
}

.element__delete:hover {
    opacity: .6;
    cursor: pointer;
}