.popup__container-image {
        max-width: 75vw;
        max-height: 75vh;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        flex-direction: column;
        display: inline-block;
  }