.profile__info {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
    width: 100%;
    margin-right: 18px;
}

@media screen and (max-width: 768px) {
.profile__info {
    width: 263px;
    padding: 26px 38px 0 19px;
    align-items: center;
    max-width: 320px;
    margin: 0;
    } 
    }