.element__item-like {
    max-width: 22px;
    height: 19px;
    width: 100%;
    background-image: url(../../../images/like.svg);
    background-color: #fff;
    background-size: cover;
    border: 0;
    padding: 0;
    margin-left: 15px;
}

.element__item-like:hover {
    opacity: .5;
    cursor: pointer;
}